<div class="container mt-2">
  <div
    class="d-flex justify-content-center align-items-center vh-100"
    style="background-color: #ffe6f2"
  >
    <div class="p-4 border rounded shadow-sm bg-white" style="width: 450px; border-color: #ff80bf">
      <div class="text-center mb-4">
        <h2 class="fw-bold" style="color: #ff4da6">Ajouter un accessoire :</h2>
      </div>

      <form
        [formGroup]="myForm"
        (ngSubmit)="addaccessoire()"
        class="mx-auto p-4 border rounded shadow-sm bg-light"
        style="max-width: 500px"
      >
        <div class="mb-3">
          <label class="form-label">ID accessoire</label>
          <input type="text" formControlName="idaccessoire" class="form-control" />
          <div
            *ngIf="
              myForm.get('idaccessoire')?.touched && myForm.get('idaccessoire')?.hasError('required')
            "
            class="text-danger"
          >
            L'ID est obligatoire !
          </div>
          <div *ngIf="myForm.get('idaccessoire')?.hasError('pattern')" class="text-danger">
            L'ID doit être un nombre !
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Nom accessoire</label>
          <input type="text" formControlName="nomaccessoire" class="form-control" />
          <div
            *ngIf="
              myForm.get('nomaccessoire')?.touched && myForm.get('nomaccessoire')?.hasError('required')
            "
            class="text-danger"
          >
            Le nom est obligatoire !
          </div>
          <div *ngIf="myForm.get('nomaccessoire')?.hasError('minlength')" class="text-danger">
            Le nom doit contenir au moins 3 caractères !
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Prix accessoire</label>
          <input type="number" formControlName="prixaccessoire" class="form-control" />
          <div
            *ngIf="
              myForm.get('prixaccessoire')?.touched &&
              myForm.get('prixaccessoire')?.hasError('required')
            "
            class="text-danger"
          >
            Le prix est obligatoire !
          </div>
          <div *ngIf="myForm.get('prixaccessoire')?.hasError('min')" class="text-danger">
            Le prix doit être positif !
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Date de création</label>
          <input type="date" formControlName="dateCreation" class="form-control" />
          <div
            *ngIf="
              myForm.get('dateCreation')?.touched &&
              myForm.get('dateCreation')?.hasError('required')
            "
            class="text-danger"
          >
            La date est obligatoire !
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Couleur</label>
          <select formControlName="idCoul" class="form-control">
            <option value="">-- Choisir une couleur --</option>
            <option *ngFor="let coul of Couleurs" [value]="coul.idCoul">{{ coul.nomCoul }}</option>
          </select>
          <div
            *ngIf="myForm.get('idCoul')?.touched && myForm.get('idCoul')?.hasError('required')"
            class="text-danger"
          >
            La couleur est obligatoire !
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" />
          <div
            *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('required')"
            class="text-danger"
          >
            L'email est obligatoire !
          </div>
          <div *ngIf="myForm.get('email')?.hasError('email')" class="text-danger">
            L'email n'est pas valide !
          </div>
        </div>

        <div class="mt-4 text-center">
          <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>