<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
    <label>Couleurs</label> 
    <select
      class="form-control form-control-lg" 
      id="Idcouleur" 
      name="Idcouleur" 
      [(ngModel)]="Idcouleur"
      (change)="onChange()"
    >
      <option *ngFor="let couleur of couleurs" value="{{ couleur.idCoul }}">{{ couleur.nomCoul }}</option>
    </select>
  </div>
           
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <!-- Vérification si des accessoires existent -->
        @if (accessoires.length != 0) {
          <thead>
            <tr>
              <th>index</th>
              <th>idaccessoire</th>
              <th>nomaccessoire</th>
              <th>prixaccessoire</th>
              <th>dateCreation</th>
              <th>couleur</th>
              <th>email</th>
              @if(authService.isAdmin()) {
              <th>actions</th>
              }
            </tr>
          </thead>
          <tbody>
            <!-- Boucle sur les accessoires -->
            @for (accessoire of accessoires; track accessoire.idaccessoire; let index = $index; let nbr = $count; let last = $last) {
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ accessoire.idaccessoire }}</td>
                <td>{{ accessoire.nomaccessoire }}</td>
                <td>{{ accessoire.prixaccessoire }}</td>
                <td>{{ accessoire.dateCreation | date : 'dd/MM/yyyy' }}</td>
                <td>{{ accessoire.couleur.nomCoul }}</td>
                <td>{{ accessoire.email }}</td>
                @if(authService.isAdmin()) {
                <td>
                  <a class="btn btn-danger" (click)="supprimeraccessoire(accessoire)">Supprimer</a>
                  <a class="btn btn-success" [routerLink]="['/update-accessoire', accessoire.idaccessoire]">Modifier</a>
                </td>
                }
              </tr>
              
              <!-- Affichage du nombre à la dernière ligne -->
              @if (last) {
                <tr>
                  <td colspan="8">
                    <h1 class="result-count">Nombre : {{ nbr }}</h1>
                  </td>
                </tr>
              }
            }
          </tbody>
        } @else {
          <!-- Message si aucun accessoire -->
          <tbody>
            <tr>
              <td colspan="8">
                <h1>Aucun accessoire trouvé</h1>
              </td>
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>